body{
margin:0;
background:#0b0b0b;
color:#ff3b3b;
font-family:monospace;
text-align:center;
}

h2{
margin:10px;
}

#map{
height:85vh;
}

input{
padding:8px;
margin:5px;
}

button{
padding:8px;
background:#ff3b3b;
border:none;
color:white;
font-weight:bold;
cursor:pointer;
}
